* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

body {
    min-width: 400px;
}

.Titulo {
    margin-top: -30vh;
    margin-left: 70px;
    z-index: -1;
    position: fixed;
    color: white;
}

.Titulo h1 {
    font-size: 100px;
}

.Contenedor {
    margin-top: 80vh;
    position: relative;
}

.ContenedorAzul {
    z-index: -2;
    position: absolute;
    background-color: rgba(0, 66, 104, 1);
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 17%, 0% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 17%, 0% 0%);
}

.ContenedorNegro {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0% 15%, 0% 100%, 100% 100%, 100% 0%, 0% 15%);
    clip-path: polygon(0% 15%, 0% 100%, 100% 100%, 100% 0%, 0% 15%);
}

.ShadowBackAzul {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 50px black);
}

.ShadowBackNegro {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 50px black);
}

.Presentacion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 150px 50px 0 50%;
    text-align: right;
}

.Presentacion h2 {
    font-size: 50px;
    padding: 0 50px 0 20%;
    text-align: center;
}

@media(min-width:701px) and (max-width:1200px) {
    .Titulo h1 {
        font-size: 70px;
    }
    .Presentacion h2 {
        font-size: 40px;
    }
    .ContenedorAzul {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 0% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 0% 0%);
    }
    .ContenedorNegro {
        -webkit-clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 0% 10%);
        clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 0% 10%);
    }
    .Presentacion {
        padding: 130px 50px 0 15%;
    }
    .Presentacion h2 {
        font-size: 50px;
        padding: 0 50px 0 20%;
    }
}

@media (max-width:700px) {
    .Titulo h1 {
        font-size: 45px;
    }
    .Presentacion h2 {
        font-size: 30px;
    }
    .ContenedorAzul {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 0% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 0% 0%);
    }
    .ContenedorNegro {
        -webkit-clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 0% 10%);
        clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 0% 10%);
    }
    .Presentacion {
        padding: 110px 50px 0 15%;
    }
    .Presentacion h2 {
        font-size: 25px;
        padding: 0 50px 0 20%;
    }
    .ContactUs {
        width: 300px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .ContactUs img {
        width: 55px;
    }
    .Espacio {
        width: 50px;
        height: 50vh;
    }
}