    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("../Imagenes/Winterdwlogotipo.png") no-repeat center center /40%, url("../Imagenes/Inicio/portada.png") no-repeat center center /cover;
    }
    
    body {
        min-width: 400px;
    }
    
    .ContenedorGeneral {
        padding-top: 10%;
        background-color: black;
        margin-top: 86vh;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 75% 6%, 25% 6%, 0% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 75% 6%, 25% 6%, 0% 0%);
    }
    
    .ShadowBack {
        filter: drop-shadow(0 0 50px black);
    }
    
    div img {
        position: absolute;
        height: 800px;
        max-width: 2400px;
        width: 100%
    }
    
    .full {
        height: 800px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .fullS {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .sub {
        margin: 25% 10% 0 10%;
    }
    
    .sub p {
        font-size: 100px;
        font-weight: bold;
        position: relative;
        color: white;
    }
    
    .sub a {
        font-size: 20px;
        position: relative;
        color: white;
        border: white 1px solid;
        padding: 5px 10px;
        text-decoration: none;
    }
    
    .OurProjects,
    .OurCustomers {
        -webkit-clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%, 0% 0%);
        clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%, 0% 0%);
    }
    
    .Casa,
    .OurServices {
        -webkit-clip-path: polygon(100% 0%, 0% 25%, 0% 75%, 100% 100%, 100% 0);
        clip-path: polygon(100% 0%, 0% 25%, 0% 75%, 100% 100%, 100% 0);
    }
    
    .OurProjects,
    .OurServices,
    .OurCustomers {
        margin-top: -120px;
    }
    
    .RedesSociales {
        margin: 25px 0;
        color: white;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: wrap row;
        align-items: center;
        justify-content: space-around;
    }
    
    .Renglon {
        display: flex;
        margin: 10px 15px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .Renglon a,
    .Renglon img {
        width: 70px;
        height: 70px;
    }
    
    .Contacto {
        text-align: center;
        margin: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .Casa h4 {
        margin: 350px 30% 0 10%;
        position: absolute;
        color: white;
        font-size: 20px;
    }
    
    .Casa h2 {
        text-align: center;
        font-size: 40px;
        margin: 260px 30% 0 10%;
        position: absolute;
        color: white;
    }
    
    @media (min-width:701px) and (max-width:1100px) {
        .sub p {
            font-size: 70px;
        }
        .full {
            height: 500px;
            width: 100%;
        }
        div img {
            height: 500px;
        }
        .RedesSociales {
            padding: 0 20%;
        }
        .Casa h4 {
            margin: 220px 30% 0 10%;
            position: absolute;
            color: white;
            font-size: 16px;
        }
        .Casa h2 {
            text-align: center;
            font-size: 30px;
            margin: 130px 30% 0 10%;
            position: absolute;
            color: white;
        }
    }
    
    @media (max-width: 700px) {
        .sub p {
            font-size: 50px;
        }
        .full {
            height: 350px;
            widows: 100%;
        }
        section img {
            position: absolute;
            height: 350px;
            width: 100%
        }
        .Casa h4 {
            margin: 150px 30% 0 10%;
            position: absolute;
            color: white;
            font-size: 12px;
        }
        .Casa h2 {
            text-align: center;
            font-size: 20px;
            margin: 100px 30% 0 10%;
            position: absolute;
            color: white;
        }
        .OurProjects,
        .OurServices,
        .OurCustomers {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .OurProjects,
        .OurServices,
        .OurCustomers {
            margin-top: -10%;
        }
        .RedesSociales {
            padding: 0 5%;
        }
    }