body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../Imagenes/OurServices/MainBackground.png") no-repeat center center /cover;
}

body {
    min-width: 400px;
}

.Contenedor {
    height: 2100px;
}

.ContenedorAzul {
    z-index: -2;
    position: absolute;
    background-color: rgba(0, 66, 104, 1);
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 1900px, 100% 200px, 0% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 1900px, 100% 200px, 0% 0%);
}

.ContenedorNegro {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0% 200px, 0% 100%, 100% 1900px, 100% 0%, 0% 200px);
    clip-path: polygon(0% 200px, 0% 100%, 100% 1900px, 100% 0%, 0% 200px);
}

.Metal,
.Wood,
.Texture {
    width: 100%;
    height: 800px;
    -webkit-clip-path: polygon(100% 0%, 100% 75%, 0% 100%, 0% 25%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 75%, 0% 100%, 0% 25%, 100% 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
}

.Metal {
    background-image: url("../Imagenes/OurServices/MetalFraming.jpg");
    background-size: cover;
    background-position: center center;
}

.Wood {
    background-image: url("../Imagenes/OurServices/WoodFraming.jpg");
    background-size: cover;
    background-position: center center;
}

.Texture {
    background-image: url("../Imagenes/OurServices/TextureFinish.jpg");
    background-size: cover;
    background-position: center center;
}

.ContactUs {
    padding-top: 200px;
    margin-top: -200px;
}

.Wood,
.Texture {
    margin-top: -150px;
}

hr {
    border: none;
    border-left: 2px solid white;
    height: 40%;
    width: 2px;
    margin-left: 5%;
}

h2 {
    margin-left: 5%;
}

p {
    margin: 0 5%;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}

@media (min-width:701px) and (max-width:1200px) {
    .Metal,
    .Wood,
    .Texture {
        font-size: 50px;
        font-weight: bold;
    }
    p {
        font-size: 17px;
    }
}

@media (max-width:700px) {
    .Contenedor {
        height: 1300px;
    }
    .ContenedorAzul {
        z-index: -2;
        position: absolute;
        background-color: rgba(0, 66, 104, 1);
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 1175px, 100% 125px, 0% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 1175px, 100% 125px, 0% 0%);
    }
    .ContenedorNegro {
        color: white;
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0% 200px, 0% 100%, 100% 1175px, 100% 0%, 0% 125px);
        clip-path: polygon(0% 200px, 0% 100%, 100% 1175px, 100% 0%, 0% 125px);
    }
    .Metal,
    .Wood,
    .Texture {
        width: 100%;
        height: 500px;
        -webkit-clip-path: polygon(100% 0%, 100% 75%, 0% 100%, 0% 25%, 100% 0%);
        clip-path: polygon(100% 0%, 100% 75%, 0% 100%, 0% 25%, 100% 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
    }
    .Wood,
    .Texture {
        margin-top: -100px;
    }
    h2 {
        margin-left: 15px;
    }
    hr {
        border: none;
        border-left: 2px solid white;
        height: 40%;
        width: 2px;
    }
    p {
        margin: 0 15px;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
    }
}